/* modal card label name */
.modal-card-padding {
  gap: 20px;
  padding: 20px;
}
.modal-card-label-name {
  font-size: 16px;
  font-weight: var(--font-weight-medium);
  line-height: 1.5;
  letter-spacing: -0.48px;
  text-align: left;
  color: var(--color-secondary);
}

.label-11-500 {
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.label-14-400 {
  color: var(--font-colour, #573353) !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.label-14-500 {
  color: var(--font-colour, #573353) !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.label-14-600 {
  color: var(--font-colour, #573353) !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.label-16-500 {
  color: #573353;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.label-16-600 {
  color: #573353;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.label-20-600-b {
  color: var(--font-colour, #573353) !important;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 120% */
  letter-spacing: -0.6px;
}
.label-20-500 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.label-20-500 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.label-20-600 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.label-12-400 {
  color: var(--font-colour, #573353) !important;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}
.label-20-500-b {
  color: var(--text-color, #573353) !important;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.label-28-600 {
  color: #000;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.label-14-500-g {
  color: #4f4f4f;
  font-size: 14px;
  font-style: italic;
  font-weight: 500;
  line-height: normal;
}
.label-14-600-blue {
  color: #07617d;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}
.label-16-600 {
  color: var(--Color-Secondary, #573353);

  /* H1 */
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  letter-spacing: -0.48px;
}
.label-11-400 {
  color: var(--font-colour, #573353) !important;
  font-family: Manrope;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.label-12-600 {
  color: var(--Color-Secondary, #573353);
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.label-13-400 {
  color: var(--Color-Secondary, #573353);
  font-family: Manrope;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.label-10-400 {
  color: var(--font-colour, #573353) !important;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.label-9-500 {
  color: var(--font-colour, #573353) !important;
  font-size: 9px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.label-10-500 {
  color: var(--font-colour, #573353) !important;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.label-12-500 {
  color: var(--font-colour, #573353) !important;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
}

.label-32-600 {
  color: #573353 !important;
  font-family: Manrope;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* -----------------Start Auth Pages------------------- */
.lable-14-400-b {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.label-36-600-b {
  color: #000;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.label-16-400 {
  color: #797979;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-self: stretch;
}

.lable-18-400-b {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.auth-input {
  display: flex;
  /* width: 421px; */
  height: 56px;
  padding: 14px 20px;
  align-items: center;
  /* gap: 170px; */
  flex-shrink: 0;
  margin-top: 12px;
  /* margin-bottom: 28px; */
}

.auth-btn {
  display: flex;
  height: 56px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #bdbdc2;
  font-size: 20px;
  font-weight: var(--font-weight-light);
}

.auth-optional-signin-btn {
  color: #000;
  border-color: #d9d9d9;
  height: 45px;
}
.lable-18-600-U {
  color: #373737;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}
.lable-18-600-r {
  color: #ff2b2b;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.lable-resend-otp {
  color: #373737;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  cursor: pointer;
}

.box-orange {
  width: 78px;
  height: 78px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #f9a828;
  box-shadow: 0px 4px 12px 4px rgba(0, 0, 0, 0.1);
}

/* InputOTP.css */

.error .ant-input-outlined {
  border: 2px solid red !important; /* Change border to red */
}

.error .ant-input-outlined {
  color: red !important; /* Change text color to red */
}

.signup-form .ant-steps-item-icon {
  border-radius: 0px !important;
}

.signup-form .steper-check-box {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #373737;
}
.signup-form .steper-uncheck-box {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #bdbdc2;
}
@media screen and (min-width: 940px) {
  .auth-form-container {
    margin-top: 20px;
    padding: 0px 60px 0px 60px;
  }
  .lable-18-400-b {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
@media screen and (max-width: 1264px) {
  .auth-form-container {
    margin-top: 86px;
    padding: 0px 100px 0px 122px;
  }
}
@media screen and (max-width: 900px) {
  .auth-form-container {
    margin-top: 86px;
    padding: 0px 40px 0px 60px;
  }
}
@media screen and (max-width: 500px) {
  .auth-form-container {
    margin-top: 86px;
    padding: 0px 0px 0px 0px;
  }
  .input-otp__field {
    height: 40px !important;
    max-width: 52px !important;
  }
  .input-otp > .ant-input {
    padding: 3px 7px !important;
  }
}
/* -----------------End Auth Pages------------------- */

.page-head {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.pointer {
  cursor: pointer;
}

.left-container-question-create {
  border-radius: 12px;
  background: #e4e7ee;
  width: 396px;
  height: 1063px;
  flex-shrink: 0;
}

.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: red !important;
}
